<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if user.is_anonymous %}
        <form method="POST" action="{% url 'shop:login' %}">
            {% csrf_token %}
            <label>User name:</label>
            <input id="log" type="text" name="user_name" value="{{ login }}" />
            <p>
            <label>Password:</label>
            <input id="pas" type="password" name="password" value="{{ pass }}" /></p>
            <input type="submit" value="Login" />
        </form>
        <p><a href="{% url 'users:registration' %}">Register user</a></p>
    {% else %}
        Hello, {{ user }}
        <a href="{% url 'shop:logout' %}">logout</a>
        ----
        <a href="{% url 'shop:client_orders' %}">Your orders</a>
        {% if user.is_staff %}
            <p><a href="{% url 'shop:create_procedure' %}">Create new procedure</a></p>
            <p><a href="{% url 'shop:all_orders' %}">All orders</a></p>
            <p><a href="{% url 'users:all_users' %}">All users</a></p>
        {% endif %}
    {% endif %}
<p>Hello!</p>


{% if procedures_list %}
    <ul>
    {% for procedure in procedures_list %}
        <li><a href="{% url 'shop:proc_detail' procedure.pk %}">{{ procedure.name }}</a> --- {{ procedure.price }} UAH, Duration: {{ procedure.duration }} min</li>
    {% endfor %}
    </ul>
{% endif %}

    <p><a href="{% url 'shop:masters' %}">Barbers</a></p>
</body>
</html>