Barber:
<p>{{ master.nick_name}} - {{ master_age }} - {{ master.level }}</p>

<p>Comments:</p>
<ul>
{% for comment_id, comment in comments.items %}
    <li>{{ comment }}</li>
{% endfor %}
</ul>

<form method="post" action="{% url 'shop:create_comment' master.id %}">{% csrf_token %}
    <p>Comment<Br>
    <textarea name="comment_text" cols="40" rows="3" placeholder="comment here"></textarea></p>
    <p><input type="submit" value="Add"></p>
</form>

<form method="post" action="{% url 'shop:registration' %}">{% csrf_token %}
    <input type="hidden" name="master_id" value="{{ master.id }}">
    <label for="id_proc">Procedure</label><br>
    <select name="proc_id" id="id_proc" value="{{ proc.id }}">
    {% for proc in procedures %}
        <option value="{{ proc.id }}">{{ proc.name }}</option>
    {% endfor %}
    </select>
    <p>Register datetime</p>
    <input type="datetime-local" name="reg_date">
    <p><input type="submit" value="register"></p>
</form>


<p><a href="{% url 'shop:index' %}">Return to shop</a></p>